* {
  margin: 0;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  background: #09a8f0;
  display: flex;
  justify-content: center;
  align-items: center;

  .pop_up, .welcome_pop_up{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border:1px #09a8f0;
    h3{
      color: #09a8f0;
      padding: 5px;
    }
    .email_password_submit_container{
      width:300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      #email, #password{
        color: #09a8f0;
        width: 80%;
        height: 40px;
        background-color: transparent;
        border: solid 1px #09a8f0;
        outline: none;
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        margin-bottom: 8px;
      }
        button{
          height: 40px;
          width: 100%;
          font-size: medium;
          background-color: transparent;
          border:solid 1px #09a8f0;
          color: #09a8f0;
          border-radius: 5px;
        }
    }
  }



}

